[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Postman
Icon=/usr/share/Postman/resources/app/assets/icon.png
Exec=/usr/share/Postman/Postman
Categories=Development;
Terminal=false
